<div class="container mt-3">

    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Search by order id">
        <div class="input-group-append">
            <button class="btn btn-success" type="submit">
                <i class="fa fa-search" aria-hidden="true"></i>
            </button>
        </div>
    </div>

    <div class="card" style="cursor:pointer" (click)="newOrder()">
        <div class="card-body">
            <div>
                <span>New Order</span>
                <span style="float:right;">
                    <i class="fa fa-chevron-right"></i>
                </span>
                <span id="count">
                    0
                </span>
            </div>
        </div>
    </div>
    <br>
    <div class="card" style="cursor:pointer" (click)="pendingOrder()">
        <div class="card-body">
            <div>
                <span>Pending Order</span>
                <span style="float:right;">
                    <i class="fa fa-chevron-right"></i>
                </span>
                <span id="count">
                    0
                </span>
            </div>
        </div>
    </div>

    <br>
    <div class="card" style="cursor:pointer" (click)="pastOrder()">
        <div class="card-body">
            <div>
                <span>Picked Order</span>
                <span style="float:right;">
                    <i class="fa fa-chevron-right"></i>
                </span>
                <span id="count">
                    0
                </span>
            </div>
        </div>
    </div>


</div>